<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% if title %}
    <title>TDD Blog - {{title}}</title>
    {% else %}
    <title>TDD Blog</title>
    {% endif %}
        
</head>
<body>
    <header>
        <a href="{% url 'homepage' %}">Home</a>
    </header>
    
    {% block content %}
        
    {% endblock content %}
    <footer>
        &copy; TDD Blog <script>
            new Date().getFullYear()
        </script>
    </footer>
</body>
</html>